/* @import "https://code.highcharts.com/css/highcharts.css"; */

* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#main-title {
  font-weight: normal;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
}

#subtitle {
  font-weight: normal;
  margin-left: 50px;
  margin-top: 0px;
}

#container,
#buttonGroup {
  /* max-width: 1200px;
  min-width: 320px; */
  margin: 1em auto;
  margin: 5px 50px;
}

#container {
  margin-top: 25px;
}

#button {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.main-container button {
  font-size: 12px;
  border-radius: 2px;
  border: 0;
  background-color: #ddd;
  padding: 13px 18px;
}

.main-container button[disabled] {
  color: silver;
}

.button-row button {
  display: inline-block;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 500ms;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 300px;
  position: relative;
}

.popup input,
.popup select {
  width: 100%;
  margin: 5px 0 15px;
}

.popup button {
  float: right;
  margin-left: 0.2em;
}

.popup .clear {
  height: 50px;
}

.popup input[type="text"],
.popup select {
  height: 2em;
  font-size: 16px;
}

#todo {
  margin-top: 50px;
  margin-left: 20px;
}

#todo li {
  margin-top: 5px;
}

#buttonGroup button,
#save-title,
#save-rows,
#add-row {
  background: white;
  border: 1px solid lightgrey;
}

#save-rows {
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
}

footer {
  margin-top: 50px;
  margin-left: 50px;
}

footer a {
  color: steelblue;
}

#update-title {
  margin-right: 5px !important;
}

#update-title-wrapper,
#update-rows-wrapper {
  display: none;
  margin-top: 25px;
  margin-left: 50px;
  width: 300px;
}

#reset-chart {
  margin-left: 50px;
  margin-top: 35px;
  color: steelblue;
  text-decoration: underline;
}

#reset-chart:hover {
  cursor: pointer;
}
